md-card#form-new-note {
  md-card-content {
    md-input-container {
      margin: 2px 0;

      input.md-input {
        font-family: 'Roboto Condensed', sans-serif;
      }

      input#input-title {
        font-weight: 700;
      }

      input#input-text {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
      }

      div.md-errors-spacer {
        display: none;
      }
    }

    .md-input {
      border-color: transparent;
    }
  }
}

div#cards-layout {
  margin-top: 20px;

  md-card {
    md-card-title {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      padding: 15px 10px 10px;
    }

    md-card-content {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 14px;
    }

    md-card-content.short {
      font-size: 2em;
      font-weight: 300;
    }
  }
}

